@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My contact</h3>

<address>
    Mustafa Amish<br />
    Plovdiv, ul Tsarevets 11<br />
    <abbr title="Phone">P:</abbr>
    +359-878 154 700
</address>


<strong>GitHub repo:</strong> <a href="https://github.com/MustafaAmish/BlogWebbApp">My GitHub BlogPost repo!!!</a><br />
<address>
    <strong>If you have a suggestion or improvement for the site contact me on email:</strong> <a href="mailto:mustafa.amish@googlemail.com">mustafa.amish@googlemail.com</a>
</address>
<button class="label label-default" onclick="window.history.back()">Back</button>
