@model IEnumerable<Blog.Models.Post>

@{
    ViewData["Title"] = "Home Page";
    
}

<form asp-action="Index" >
    <select name="sort">
        <option value="all">All</option>
        <option value="IT">IT</option>
        <option value="Movies">Movies</option>
        <option value="Jokes">Jokes</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit">
</form>


<ul  style="list-style-type:none">
    @foreach (var post in Model)
    {
        <div  class="form-row d-flex justify-content-between my-3">
            <div class="form-group col-md-12 d-flex flex-column align-items-center">
                <h3>@post.Title</h3>
                <li title="">@post.Description</li>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                    }
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">Details</a> 

                </td>
            </div>
        </div>

    }
</ul>
